main {
  background-color: red;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.oval-holder {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  @media (max-width: 900px) {  
    margin-left: 72px;
    margin-right: 72px;
  } 
}
