.header {
  background-color: rgb(24, 23, 23);
  height: 150px;
  color: rgb(240, 237, 232);
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 50px;
  padding-right: 50px;

  &__text{
  font-size: 34px;
  height: 50px;;
  }
  &__button{
    font-size: 24px;
    height: 50px;
    background-color: orange;
    border : 6px solid red;
    color: white;
    }
}