.footer {
  background-color: rgb(30, 126, 30);
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  padding-left: 50px;
  padding-right: 50px;

  &__button{
  font-size: 18px;
  height: 35px;
  background-color: orange;
  border : 6px solid red;
  color: white;
  }
}



