.oval-holder {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border : 3px solid black;
  // margin-left: 40px;
  // margin-right: 40px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  // @media (max-width: 900px) {  
  //   margin-left: 72px;
  //   margin-right: 72px;
  // } 

  &_is-opacity:hover {
    opacity: 0.5;
  }
  &_orange {
    background-color: orange;
  }
  &_black {
    background-color: black;
  }  
  &_yellow {
    background-color: yellow;
  }
  &_gray {
    background-color: gray;
  }
}


